<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupStaticAttributes="false" backupGlobals="false" processIsolation="false" bootstrap="../vendor/autoload.php">

  <testsuites>
    <testsuite name="unit">
      <directory suffix="Test.php">./unit</directory>
    </testsuite>
    <testsuite name="integration">
      <directory suffix="Test.php">./integration</directory>
    </testsuite>
  </testsuites>

  <filter>
    <whitelist>
      <directory suffix=".php">../src/</directory>
      <exclude>
        <directory suffix="Interface.php">../src/</directory>
        <directory suffix="Exception.php">../src/</directory>
        <directory>../src/Test/</directory>
      </exclude>
    </whitelist>
  </filter>

</phpunit>